body{
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    position:relative;
    height: 400px;
    width: 100%;
}
.wrapper-main{
    height: 500px;
    padding: 2px;
    width: 100%;
    background: linear-gradient(-45deg, rgb(155, 33, 33),rgb(114, 46, 36),rgb(188, 70, 70),rgb(78, 1, 1));
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: transition-main 8s ease-in-out infinite;
    position:relative;
    left:0;
    
}
.wrapper-main .wrapper{
    
    box-sizing: 50px 50px;
    top:15px;
}
.wrapper-main .trace{
    padding: 0;
    margin: 0;
    box-sizing: 50px 50px;
    top:15px;
}
.wrapper-main .checkbox{
    background-color: rgb(76, 141, 193);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position:absolute;
    top:10px;
    right: 15px;
    z-index:2;
  
}

.wrapper-main .checkbox .trace {
    width: 30px;
    height: 3px;
    margin: auto;
    background-color: white ;
    position:absolute;
    top:20px;
    right:10px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.wrapper-main .checkbox .trace:nth-child(1){
    top: 10px;
    transform: rotate(0);
}
.wrapper-main .checkbox .trace:nth-child(2){
    top: 20px;
    transform: rotate(0);
}
.wrapper-main .checkbox .trace:nth-child(3){
    top: 30px;
    transform: rotate(0);
}
#toggle{
    display: none;
}
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 20px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
   transform: rotate(-45deg);
   top: 20px;
  }

.wrapper-main h1{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}
.wrapper-main h2{
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight:lighter;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}
.wrapper-main .social-media{
    margin-top: 1rem;
    display: flex;
}
.wrapper-main .social-media a{
    text-decoration: none;
    color:white;
    font-size: 14px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    transition: .5s cubic-bezier(.55, .025, .675, .97);

}
.wrapper-main .social-media a:hover{
    color: black;
    background-color: rgb(1, 166, 172);   
}
@keyframes transition-main{
 0%{
     background-position: 0% 80%;
 }
 50%{
     background-position: 80% 100%;
 }
 100% {
     background-position: 0% 90%;
 }
}
.menu{
    position: absolute;
    top: 15px;
    right:20px;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px ;
    z-index:-1;
    transition: 400ms ease-in-out 0s;
}
.menu-itens{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity:0;
    visibility:hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-itens ul{
    list-style-type: none;
}
.menu-itens ul li a{
   position: relative;
    color:rgb(1, 166, 172);
    text-decoration: none;
    margin:10px 0;
    letter-spacing: 4px;
    font-size: 40px;
    z-index: 1;
}


#toggle:checked +  .checkbox .trace:nth-child(1){
 transform: rotate(45deg);

 top: 20px;

}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width:30px;
    visibility: hidden;
   opacity: 0;
   }
#toggle:checked +  .checkbox  .trace:nth-child(3){
       transform: rotate(-45deg);
       top:20px;
   }

#toggle:checked +  .checkbox{
    background-color: rgb(155, 19, 19);
}
#toggle:checked ~ .menu {
    box-shadow: 0 0 0 100vmax white;
    z-index: 1;
  
}

#toggle:checked ~  .menu-itens{
 visibility: visible;
 opacity: 1;
 z-index:1;

}
.card-sobre{
    margin: 0;
    width:100%;
    height:300px;
    position: relative;
    bottom: 21px;
    background-color: rgb(76, 141, 193);
}
.card-sobre p{
    padding: 1%;
    display: flex;   
    position: relative;
    align-items: center;
    text-align: justify;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 3px;
}
.card-sobre h2{
    padding: 3%;
    align-items: center;
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.container-main{
    width: 100%;
    height: 450px;
    max-width: 2000px;
    background-color: rgb(76, 141, 193);
    justify-content: space-between; 
    align-items: center;
    position: relative;
    bottom: 25px;
    padding-bottom:36px;   
    

} 
.img-linkedin{
    width: 150px;
    height: 200px;
    border-radius: 100%;  
}
.img-linkedin:hover{
    filter:unset;
    cursor:pointer;
}
.card-linkedin{
    align-items: center;
    text-align: center;
    height: 200px;
    width: 150px;
    cursor:pointer;
    transition:.5s ease-in-out; 
    position: absolute;
    right:30%;
    top:0;
    border-radius: 50%;;
    filter:grayscale(0.5);
}
.card-wrapper-linkedin{
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s ease-in-out;
    position:absolute;
    top:0;
    height: 200px;
    width: 150px; 
}
.card-wrapper-linkedin h2{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color:white;
    opacity: 1;
    text-align: center;
    position: absolute;
    top:25%;
    left: 10%;
    
}
.card-wrapper-linkedin p{
    font-size: 0;
    font-weight: bold;
    text-transform: uppercase;  
    opacity: 0;
   position: absolute;
    top: 40%;
    color: white;

}
.card-linkedin:hover > .card-wrapper-linkedin > p{
    opacity: 1;
    content: '';
    font-size: 10px;
    height: 200px;
    width: 150px;
    transition: .9s ease-in-out;
    position: absolute;
    right: 0;
    
} 

.card-wrapper-linkedin:hover > .card-linkedin{
    opacity: 1;
    visibility: visible;
    font-size:20px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    height: 160px;
}  

.card-github{
    filter:grayscale(0.5);
    color:white;
    cursor:pointer;
    position: absolute;
    left: 20%;
    width: 150px;
    height: 200px; 
    border-radius: 100% ;
    top:0;
}

.img-github{
    position: absolute;
    width: 150px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    left: 20%;
    top:0;
} 
.card-wrapper-github{
    
    letter-spacing: 1px;
    position: absolute;
    top:25%;  
    left:20%;
} 
.card-wrapper-github h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
   
} 

.card-wrapper-github p{
    font-size: 0;
    text-align: center;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    
    
} 
.card-github:hover{
    filter: unset;
} 
 
 .card-github:hover > .card-wrapper-github p{
    opacity: 1;
    font-size:8px;
    transition: .5s ease-in-out;
    position:absolute;
    left: 50%;
}  
 


.chat{
    position: relative;
    top:-100px;
    background-color: rgb(53,53,53);
    height: 3rem;
    width: 8rem;
    border-radius: 36px;
    border-bottom: 4px solid rgb(53,53,53) ;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 10px;
    transform: translateY(0);
    align-items: center;
    animation: chat-shaking 2s ease-in-out infinite;
    margin:0;
   

}
.chat::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1.3rem;
    left: 2rem;
    border-left: 2px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid rgb(53,53,53);
}
.chat .chatbox_loading{
    position: relative;
    top:1px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    transform: scale(1);

}
.chat .chatbox_loading:nth-child(1){
   animation: dot-chat 1.5s ease-in-out infinite;
  
}

 .chat .chatbox_loading:nth-child(2){
    animation: dot-chat 1.5s ease-in-out infinite; 
    animation-delay: 2s;
 }

.chat .chatbox_loading:nth-child(3){
    animation: dot-chat 1.5s ease-in-out infinite; 
    animation-delay: 4s;
 }

@keyframes dot-chat{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.5);
    }
    100% {
        transform:scale(0);
    }
}
@keyframes chat-shaking{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(15px);
    }
    100% {
        transform:translateY(0);
    }
}
.alinhar-chat{
    position: absolute;
    width: 100%;
 
}
.footer{
    padding: 25px;
    background-color: rgb(187, 89, 23);
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    position: static;
    right: 0;
    bottom: 0;
    margin: 0;
    
}
@media(max-width:800px){
    .social-media{
        display: flex;
      
    }    
}
.chat{
    position: relative;
   
}



